@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.text-btn {
  background-color: $primary-blue;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  min-width: fit-content;

  @include tablet {
    font-size: 1rem;
    min-width: fit-content;
  }

  &:hover {
    background-color: $primary-dark-blue;
    transform: scale(1.05);
  }
}
