@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter_18pt-thin.ttf") format("truetype");
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter_18pt-extralight.ttf") format("truetype");
  font-weight: 200; /* ExtraLight */
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter_18pt-light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter_18pt-regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter_18pt-medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter_18pt-semibold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter_18pt-bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter_18pt-extrabold.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}
