//Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors
$BG: #f4f9fd;
$white: #ffffff;

// Nav bar selected:
$primary-blue: #3f8cff;
$primary-dark-blue: #0056b3;
$primary-blue-transparent: rgba(63, 140, 255, 0.1);

// For inactive text and icon color
$grey-inactive-nav: #7d8592;

// Primary text
$primary-black: #0a1629;
$seconday-black: #575767;

// transition
$transition: all ease-in-out 350ms;

// Calendar
$light-blue: #e6f7ff;
