@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

// $tablet-breakpoint: 768px;
// $desktop-breakpoint: 1280px;

.sidebar {
  position: fixed;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  height: 100%;
  overflow-y: auto;

  //   Hiding the side bar on mobile by default
  width: 0;
  top: 0;
  left: -250px;
  width: 200px;
  overflow-y: auto;
  padding-top: 4rem;
  z-index: 1000;

  &.open {
    left: 0px;
  }

  /* Tablet and desktop styles */
  @include tablet {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 1.5rem;
    left: 0;
    padding-top: 0;
    height: 95%;
  }

  &__ul {
    list-style: none;
    padding-top: 2rem;
    margin: 0;
    padding-left: 0;
  }

  &__item {
    margin: 0.5rem 0;
  }

  &__logo {
    width: 8.4375rem;
    margin-bottom: 1rem;
  }
}

.menu-button {
  @include tablet {
    display: none;
  }
}

.sidebar__toggle {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  //   This makes sure that the side bar is on top of everything else on mobile
  z-index: 3;
  font-size: 2rem;
  background-color: $white;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &-icon {
    padding: 0.35rem;
  }

  // On tablet, hide the sidebar toggle
  @include tablet {
    display: none;
  }
}

.sidebar__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Grey overlay */
  z-index: 2; /* Below sidebar */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.sidebar__closebtn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  color: $primary-blue;
  cursor: pointer;
  display: block;

  @include tablet {
    display: none; /* Hide close button on desktop */
  }
}
