@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.main-container {
  padding: 1rem;
  background-color: $white;
  border-radius: 1rem;
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0.5rem !important;
  margin-top: 1.125rem;
}
