@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.content {
  display: flex;
  flex-direction: column;
  height: 98.9vh;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.teacher-list-container {
  background-color: $white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5rem;
  overflow: hidden;
}

.actions {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0.5rem 2rem;

  &__search-sort-container {
    display: flex;
    gap: 1.5rem;
  }
}

// Styling for filter option
.actions__filter {
  position: relative;
}

.filter-button {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 0.85rem;
  border-radius: 4px;
  height: 36px; /* Match search & sort */
}

.filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 250px; /* Wider Dropdown */
}

.filter-dropdown label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.85rem;
  padding: 5px;
  cursor: pointer;
}

.filter-dropdown label:hover {
  background-color: #f2f2f2;
}

.selected-filters {
  padding: 1rem 2rem 0.5rem 2rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.filter-tag {
  background-color: #ddd;
  padding: 6px 12px;
  font-size: 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer; /* Clicking the tag removes it */
  transition: background-color 0.2s;
}

.filter-tag:hover {
  background-color: #cfcfcf;
}

.remove-tag {
  margin-left: 8px;
  font-size: 1rem;
  cursor: pointer;
}
