@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.classes {
  &__list {
    list-style: none;
    margin-top: 1rem;
    padding: 0;
  }
}

.label {
  text-align: center;
}

.class__item {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  font-size: 0.875rem;
  color: $primary-black;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $hover-client-bg;
  }
}

.class-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}

.class-item__name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  transition: transform 0.3s ease;

  &:hover {
    .class-icon {
      transform: translateX(4px);
    }
  }

  .class-item__name {
    margin-right: 0.5rem;
    margin-left: 1rem;
    white-space: nowrap;
  }

  .class-icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateX(4px);
    }
  }
}

.class-item__schedule-container,
.class-item__students-container {
  text-align: center;
}

.class-item__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.class-item__icon {
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.edit-icon {
  color: $primary-blue;
}

.delete-icon {
  color: red;
}
